{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <!--<link rel="stylesheet" href="./styles.css">-->
    <link rel="stylesheet" href="{% static 'styles/styles1.css' %}"/>
</head>
<body>
    <div class="work"></div>
    <h2 class="text"> a demo of slideshow with background inages without js: ken burns effect</h2>
</body>
</html>