.work{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    background-image: url(https://i.pinimg.com/564x/d2/25/d6/d225d6a3913a84b36c1148745d9df953.jpg);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: cover;
}
.text {
    width: 300px;
    height: 250px;
    border: 1px solid white;
    background-color: aliceblue;
    opacity: 0.6;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 150px;
    left: 600px;
    
}