{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" method="POST">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--<link rel="stylesheet" href="./styles/checkbox.css">-->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    <link rel="stylesheet" href="{% static 'styles/color.css' %}">-->
    
</head>
<body>
    <section>
        <div class="creat_conteiner">
          <form action="{% url 'add-todo' %}" method="POST">
            {% csrf_token %}
            <input type="text"
             class="creat_input" placeholder="New Work" name="texts">
            <button class="creat_button">ADD</button>
          </form>  
           
        </div>
           
        <div class="todo_conteiner">
            {% for todo in todo_list %}
            <div class="todo_item
            {% if todo.is_favorite %}
            done
            {% endif %}">
                
                <label class="checkbox_conteiner">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <h4>{{ todo.text }}</h4>
                <div class="todo_item_footer">
                    <p>{{ todo.date }}</p>
                    <div class="action_buttons">
                        <a href="{% url 'mark-todo' todo.id %}">
                            {% if todo.is_favorite %}
                            <img src="{% static 'ikons/сердечко.png' %}" >
                            {% else %}
                            <img src="{% static 'ikons/heart.png' %}">
                            {% endif %}
                        </a>    
                        <a href="{% url 'delete_todo' todo.id %}">
                           <img src="{% static 'ikons/ящик.png' %}" >
                        </a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </section>
</body>
</html>